body {
    background-color: rgb(180, 170, 190);
}

.heading {
    width: 80%;
    font-size: 22px;
}

#camera {
    border: 2px dashed paleturquoise;
    width: 350px;
    height: 300px;
}

#result_object_name,
#result_object_accurarcy,
.name_of_objects {
    color: rgb(87, 72, 67);
}